/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#DCDADD White
#F4F5F5 Off White
#FFCF00 Yellow
#1A2637 Dark Blue 
  */
body {
    background-color: #1A2637;
}