body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #1A2637;
}

.img-container {
    background-image: url(../images/about/about-image.png);
    height: 30rem;
    position: relative;
    background-position: top;
    background-size: cover;
}

/* 
h2.h2 {
    font-family: "Open Sans", sans-serif;
}
p>span,h2>span {
    color: #FFCF00;
}
img.icons1 {
    width: 7rem;
    height: auto;
}
.p-open-sans {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5rem;
    
}

img.headshot {
    height: 25rem;
    border-radius: 30px;
}
h3.name {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: -1px;
    font-weight: 800;
    
}

h3.h6 {
    font-style: italic;
    font-weight: 200;
    font-size: 1.25rem;
}

h3>span {
    color: #FFCF00;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: none;
}

img.icons3 {
    width: 15rem;
    height: auto;
}
.btn-bluev2 {
    background-color: #1a263700;
    border: none;
    color: #F4F5F5;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    padding: 10px 40px;
    /* font-size: medium; 
    box-shadow: 0 0 10px 0 #0d131be7;
} */