body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #1A2637;
}
/* .alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
   */
.img-container {
    background-image: url(../images/about/about-image.png);
    height: 30rem;
    position: relative;
    background-position: top;
    background-size: cover;
}
div.square-icon {
    background-color: #F4F5F5;
    border-radius: 2px;
    border: px solid #F4F5F5;
    height: 15px;
    width: 15px;
    position: relative;
    display: inline-block;

}
p.lead {
    font-weight: 200;
}
div.NO {
    color: #FFCF00;
    font-family: "Alata", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: none;
    display: block;
}
span.symbol {
    font-size: 1.25rem;
    color: #FFCF00;
    font-family: "Alata", sans-serif;
    font-weight: normal;
    display: inline-block;
}

.services-title {
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
}
h4>span {
    font-weight: 600;
}

.desc-lead {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 5px;
}

.desc {
    font-family: "Open Sans", sans-serif;
    font-size: 0.90rem;
}

.btn-white {
    background-color: #ffffff;
    border: none;
    color: #1A2637;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    border-radius: 1px;
    padding: 10px 40px;
    font-size: medium;
}
