/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#DCDADD White
#F4F5F5 Off White
#FFCF00 Yellow
#1A2637 Dark Blue 
  */

.logo {
    width: 100%; /* Adjust the width to fit the header */
    height: auto; /* Maintain the aspect ratio */
    max-width: 200px; /* Maximum width of the logo */
}

.hero-section {
    background-image: url(/images/sample.png);
    background-position: top;
    background-size: cover;
}
.icons1{
    height: 5rem;
}
.img-cont{
    height: 25rem;
    position: relative;
    background-position: center;
    background-size: cover;
}
/* .img-container {
    position: relative;
    background-position: center;
    background-size: cover;
}
.top-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: top;
    background-size: cover;
} */